@{
    ViewData["Title"] = "Home";
    int counter = 0;
}

<div class="columns">

    @foreach (var subreddit in Model)
    {
        if (counter > 0 && counter % 4 == 0)
        {
        @:</div><div class="columns">
            // close and start new row
        }
        <div class="column text-center">
            @*TODO: how to get rid of subreddit and just make it default*@
            <a href="~/Subreddit/@subreddit/Links">@subreddit</a>
        </div>

        counter++;
     }
</div>
