@{
    int counter = 0;
}


<div class="columns">

    @foreach (var link in ViewBag.links)
    {
        // only load 20 embedded videos
        if (counter > 20) break;

        if (counter > 0 && counter % 2 == 0)
        {
        @:</div><div class="columns">
            // close and start new row
        }
            <div class="column text-center">
                <iframe width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/@link" 
                        frameborder="0" 
                        allow="autoplay; encrypted-media" 
                        allowfullscreen></iframe>
                <b>@link.Score</b>
                <b>@link.CreatedUTC</b>
            </div>

        counter++;
     }
</div>
