@{
    int counter = 0;
}


<div class="columns">

    @foreach (var link in ViewBag.links)
    {
        // only load 20 embedded videos
        if (counter > 1000) break;

        if (counter > 0 && counter % 2 == 0)
        {
        @:</div><div class="columns">
            // close and start new row
        }
            <div class="column text-center">
                <iframe width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/@link.YoutubeLinkId" 
                        frameborder="0" 
                        allow="autoplay; encrypted-media" 
                        allowfullscreen></iframe>
                <b></b>

            @{
                string permalink = "https://www.reddit.com" + link.Permalink;

                    <p><b><a href=@permalink>permalink</a></b></p>

                }
                <p><b>Created</b> @link.CreatedUTC.ToShortDateString()</p>
                <p><b>Score</b> @link.Score</p>
            </div>

        counter++;
     }
</div>
