<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="enter subreddit"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      class="form-control"
      (keyup.enter)="navigateTo(myControl.value)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let subreddit of filteredSubreddits | async"
        [value]="subreddit"
        (click)="navigateTo(subreddit)"
      >
        {{ subreddit }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
