<div>
  <mat-button-toggle (click)="sortDate()">Date</mat-button-toggle>
  <mat-button-toggle (click)="sortScore()">Score</mat-button-toggle>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
  class="videos"
>
  <div *ngFor="let redditComment of redditComments">
    <div class="card">
      <mat-card>
        <youtube-player
          videoId="{{ redditComment.youtubeLinkId }}"
          [height]="300"
          [width]="400"
        >
        </youtube-player>
        <mat-card-actions>
          <a
            mat-raised-button
            color="green"
            href="https://www.reddit.com{{ redditComment.permalink }}"
            target="_blank"
            >PERMALINK</a
          >
          <button mat-stroked-button>
            {{ redditComment.createdUTC.toString().substring(0, 10) }} |
            {{ redditComment.createdUTC.toString().substring(11, 19) }}
          </button>
          <button mat-stroked-button>Score: {{ redditComment.score }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
