@{
    int counter = 0;
}

<div class="columns">

    @foreach (string link in Model)
    {
        if (counter > 0 && counter % 2 == 0)
        {
        @:</div><div class="columns">
            // close and start new row
        }
                    <div class="column text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

        counter++;
     }
</div>
